{% extends 'base.html.twig' %}

{% block body %}

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <div class="content">
                <h1><img class="logo" src="{{ asset('img/logo-ombu-editions-blanc.svg') }}" alt="Ombú éditions" /></h1>
                <a href="#" class="button big alt"><span>Catalogue</span></a>
            </div>
            <a href="#" class="button hidden"><span>Catalogue</span></a>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="columns">
                {% for livre in livres %}
                    <div class="image fit">
                        <a href="{{ path('livre', {id: livre.id, slug: livre.slug}) }}"><img src="/img/home/{{ livre.coverImage }}" alt="{{ livre.title }}" /></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

